---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador FullStack",
    company: "SinergiTec",
    description:
    "Responsable del desarrollo de aplicaciones móviles, componentes y utilidades. ",
    link: "https://sinergitec.mx/",
  },
  {
    date: "Julio 2023",
    title: "Pasante",
    company: "ITGAM",
    description:
    "Soporte y mantenimiento a los equipos de cómputo del instituto. Revisión del funcionamiento de las redes.",
    link: "https://gamadero.tecnm.mx/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
